<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{T "meta_title"}}</title>
<meta name="description" content="{{T "meta_description"}}">
<meta property="og:url" content="https://bilbostack.com">
<meta property="og:type" content="website">
<meta property="og:title" content="#Bilbostack25">
<meta property="og:description" content="{{T "meta_description"}}">
<meta property="og:image" content="https://bilbostack.com/img/bilbostack-logo.png">
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="bilbostack.com">
<meta property="twitter:url" content="https://bilbostack.com">
<meta name="twitter:title" content="#Bilbostack25">
<meta name="twitter:description" content="{{T "meta_description"}}">
<meta name="twitter:image" content="https://bilbostack.com/img/bilbostack-logo.png">